# .gitignore
# Ignore Python virtual environment
.venv
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
# Ignore Python cache files
*.py[cod]
# Ignore data files
data/
# Ignore Python bytecode files
__pycache__/
*.pyc
# Ignore log files
*.log
# Ignore environment variable files
.env
# Ignore coverage reports
.coverage
# Ignore build directories
build/
dist/
# Ignore IDE specific files
.vscode/
.idea/